{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": "react-app",
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "jsx-a11y/anchor-is-valid": ["off"],
    "jsx-a11y/anchor-has-content": ["off"]
  }
}