.ControlsSidebar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF;
  box-sizing: border-box;
}

.ControlsSidebar__items {
  margin: var(--component-spacing-sm) 0;
}

.ControlsSidebar__item__wrapper {
  position: relative;
}

.ControlsSidebar__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--component-spacing-sm);
  margin-bottom: var(--component-spacing-xs);
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  color: var(--grey);
  cursor: pointer;
  transition: background-color 110ms ease, color 110ms ease;

  &:hover {
    background-color: var(--grey-bg);
    color: var(--grey-dark);
  }

  &:active, &.active {
    background-color: var(--primary-bg);
    border-color: var(--primary-lighter);
    color: var(--primary);
  }

  &.disabled {
    opacity: 0.65;
    cursor: default;
    pointer-events: none;

    &:hover {
      background-color: initial;
      color: var(--grey);
    }

    &:active, &.active {
      background-color: initial;
      color: var(--grey);
    }
  }
}

.ControlsSidebar__item__popup  {
  position: absolute;
  top: 0;
  right: calc(54px + var(--component-spacing-sm));
  background-color: #fff;
  outline: 0;
  width: 350px;
  overflow-y: auto;
  border: 1px solid var(--primary-lighter);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  z-index: 9999;
}

.ControlsSidebar__item__popup__header {
  padding: var(--component-spacing-xs) var(--component-spacing-sm);
  background-color: var(--primary-bg);
  color: var(--primary-dark);
  border-bottom: 1px solid var(--primary-lighter);
}

.ControlsSidebar__item__popup__body {
  padding: var(--component-spacing-xs) var(--component-spacing-sm);
}

.ControlsSidebar__item__popup__body__field {
  margin-top: var(--component-spacing-xs);
  margin-right: var(--component-spacing-xs);
}