@import '../../vars.less';

.Tooltip__container {
}

.Tooltip {
  box-sizing: border-box;
  position: fixed;
  padding: var(--space-xxs) var(--space-sm);
  background-color: rgba(10, 10, 10, 0.75);
  border: 1px solid rgb(10, 10, 10);
  border-radius: var(--border-radius);
  color: #FFF;
  white-space: nowrap;
  z-index: 99999;
  font-size: 0.85rem;
}