.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10050;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;

  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10040;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid #d4d4d4;
    outline: 0;
    border-radius: 0.2rem;
    max-width: 1000px;
    margin: 3rem auto;
  }

  &__body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
  }
}