.ContextBox {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #FFF;
  margin: auto;
  border-radius: var(--border-radius);
}

.ContextBox__resizing {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--primary-bg);
  user-select: none;
}

.ContextBox__content {
  width: 100%;
  height: 100%;
  overflow: auto;

  &.resizing {
    user-select: none;
  }
}

.ContextBox__table__wrapper {
  width: auto;
  height: 100%;
  white-space: nowrap;
}

.ContextBox__table__row {
  cursor: pointer;
}

.ContextBox__table__metric-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 110px;
  padding: 0 15px;
  overflow: visible;

  &:first-of-type {
    padding-left: 0;
  }

  &:last-of-type {
    padding-right: 0;
  }
}

.ContextBox__table__item__run {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.ContextBox__table__item__name {
  color: inherit;
  &:hover, &:active, &:visited {
    color: inherit;
  }
}

.ContextBox__table__group-indicator__chart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0.85rem;
  height: 0.85rem;
  margin-left: var(--space-xxs);
  color: var(--grey-dark);
  border: 1px solid var(--grey-light);
  border-radius: var(--border-radius);
  font-size: var(--text-xs);
}

.ContextBox__table__group-indicator__color {
  width: 0.85rem;
  height: 0.85rem;
  margin-left: var(--space-xxs);
  border: 1px solid;
  border-radius: var(--border-radius);
}

.ContextBox__table__group-indicator__stroke {
  display: block;
  background-color: #FFF;
  width: 1.8rem;
  height: 0.85rem;
  margin-left: var(--space-xxs);
  border: 1px solid;
  border-radius: var(--border-radius);
  padding: 0 var(--space-xxs);

  & > line {
    stroke: #333;
    stroke-width: 2;
  }
}

.ContextBox__table__item-context__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding: 1px;
}

.ContextBox__table__item-context__item {
  margin-right: var(--space-sm);
}

.ContextBox__table__item-aggregated_labels {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1px;
}

.ContextBox__table__item-aggregated_label {
  color: #FFF;
  text-shadow: none;
  margin-right: var(--space-xxs);

  &:last-of-type {
    margin-right: 0;
  }

  &.outline {
    color: inherit;
  }
}

.ContextBox__table__item-aggregated_icon {
  cursor: default !important;
  user-select: none;
  vertical-align: middle;
}