.ContextBox {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #FFF;
  margin: auto;
  border-radius: var(--border-radius);
}

.ContextBox__resizing {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--primary-bg);
  user-select: none;
}

.ContextBox__content {
  width: 100%;
  height: 100%;
  overflow: auto;

  &.resizing {
    user-select: none;
  }
}

.ContextBox__table__wrapper {
  width: auto;
  height: 100%;
  white-space: nowrap;
}

.ContextBox__table__row {
  cursor: pointer;
}

.ContextBox__table__metric-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 110px;
  padding: 0 15px;
  overflow: visible;

  &:first-of-type {
    padding-left: 0;
  }

  &:last-of-type {
    padding-right: 0;
  }
}

.ContextBox__table__item__run {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.ContextBox__table__item__name {
  color: inherit;
  &:hover, &:active, &:visited {
    color: inherit;
  }
}

.ContextBox__table__group-indicator__chart {
  display: inline-block;
  width: var(--space-sm);
  height: var(--space-sm);
  margin-left: var(--space-xxs);
  border: 1px solid;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;

  .Text {
    font-size: 0.6em;
  }
}

.ContextBox__table__group-indicator__color {
  width: var(--space-sm);
  height: var(--space-sm);
  margin-left: var(--space-xxs);
  border: 1px solid;
  border-radius: var(--border-radius);
}

.ContextBox__table__group-indicator__stroke {
  background-color: #FFF;
  width: var(--space-lg);
  height: var(--space-sm);
  margin-left: var(--space-xxs);
  border: 1px solid;
  border-radius: var(--border-radius);
  padding: 0 var(--space-xxs);

  & > line {
    stroke: #333;
    stroke-width: 2;
  }
}
